[buildout]
develop =
    mkdir_recipe
    ooo
parts =
    data-dir
    ooo
    zopepy

[data-dir]
recipe = mkdir_recipe:mkdir
path = mystuff

[ooo]
recipe = z3c.recipe.openoffice
install-pyuno-egg = no
hack-openoffice-python = no

[zopepy]
recipe = zc.recipe.egg:scripts
eggs =
interpreter = zopepy
extra-paths = parts/ooo/program
scripts = zopepy

